body{
    font-family: 'Zen Antique', serif;
    background-color: aliceblue;
}

.header_div{
    background: white;
    color: lightsteelblue;
}
    .header_div p{
        font-family: cursive;
        color: gray;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
    }
    .main_div button{
        font-family: cursive;
        margin-top: 30px;
        width: 130px;
        font-weight:bolder;
        letter-spacing: 3px;
    }
    .copy_right_footer{
    position: fixed;
    color: steelblue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px lightgray;        
    }